
/* ACtivity section style */

/* .activity-section {
  display: flex;
  padding-left: 46px;
  padding-right: 46px;

} */

#activity-section-card {
  display: flex;
  flex-direction: row;
  height: 460px;
  justify-content: space-between;
  margin-top: 55px;
  padding-left: 46px;
  padding-right: 46px;
  width: 100%;
}

.activity-image {
  border-radius: 16px 16px 0px 0px;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.activity-card {
  border-radius: 20px;
  box-shadow: 1px 4px 14px 1px #d7d8d9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 22%;
}
.activity-card a {
  border-radius: 20px;
  height: 100%;
  position: absolute;
  width: 100%;
}
.activity-card a:hover, .activity-card a:focus, .activity-card a:active {
  box-shadow: 0px 0px 7px #6a6b6b;
}


.activity-card h3 {
  font-size: 16px;
  object-fit: fill;
  padding-left: 16px;
  padding-right:16px;
  padding-bottom: 10px;
}
