/* section search & section filters style */

/* section search */
.search-bar {
  width: 100%;
}
input {
  width: 232px;
}

.search p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-style: bold;
}

form {
  display: flex;
}

input {
  padding: 15px;
  width: 235px;
  border: 1px solid #F2F2F2;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}
input[type=text]:focus {
  border: 1px solid #F2F2F2;
}

::placeholder {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.button-search {
  background-color: #0065FC;
  border: 0px solid #F2F2F2;
  border-radius: 0px 18px 18px 0px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
  width: 133px;
}
.button-search:hover, .button-search:focus, .button-search:active {
  border: 1px solid #DEEBFF;
  cursor: pointer;
}

.fa-location-dot {
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
  border-radius: 18px 0px 0px 18px;
  font-size: 17px;
  padding: 15px;
  padding-left: 18px;
}



/* section filter */
#filter {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

#filter .filter-category {
  margin: 0px 10px;
  border-radius: 30px;
  border: 2px solid #F2F2F2;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

#filter .filter-category i {
  height: 50px;
  width: 50px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filter .filter-category:hover, .filter-category:focus, .filter-category:active {
  background-color: #DEEBFF;
  cursor: pointer;
}

#filter .filter-category p {
  padding: 0px 15px;
}

.filter-infos {
  align-items: center;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.filter-infos p {
  font-size: 16px;
  padding: 0px 10px;
}

.fa-info {
  border: 3px solid #F2F2F2;
  border-radius: 50%;
  font-size: 12px;
  height: 25px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  width: 25px;
}
