*{
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0px 50px;
    font-size: 18px;
}

a {
  text-decoration:none;
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

h2{
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p{
  font-size: 16px;
}

i {
  color: #0065FC;

}

/* section nav (logo & menu) style  */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }

 nav a {
   margin-left: 30px;
  }

  header #logo img {
     width: 150px;
  }

ul.menu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  width: 100%;
 }
 ul.menu:hover {
   font-weight: 500;
 }

 li.hosts, li.activities {
   padding-top: 40px;
   text-align: center;
   width: 200px;
 }

 li.hosts:hover a, li.activities:hover a, li.hosts:focus a, li.activities:focus a, li.hosts:active a, li.activities:active a {
   color: #0065FC;
 }

 li.hosts:hover, li.activities:hover, li.hosts:focus, li.activities:focus, li.hosts:active, li.activities:active {
   border-top: 3px solid #0065FC;;
   color: #0065FC;
 }

 /* Footer */
footer {
  align-items: center;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  padding-left:46px;
  padding-top: 45px;
}
.footer {
  padding-bottom: 30px;
  width: 32%;
}
.footer h2 {
  font-size: 18px;
  margin-bottom: 22px;
}
footer li {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 13px;
}
li.footer-link:hover a, li.footer-link:focus a, li.footer-link:active a {
  font-weight: 600;
}
